.image {
	width: 75px;
	height: 100px;
}

.choices-info {
	font-family: 'Avengers';
	padding-top: 0.5em;
	max-width: 280px;
	margin: 0 auto;
	color: rgb(255, 232, 126);
}

.cards {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0.3em;
	max-width: 180px;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
}
.card-group {
	display: flex;
		justify-content: center;
		margin: 5px;
}

.hero-card {
	width: 140px;
	height: 220px;
}

.text-name {
	font-size: 0.6em;
}
.text-muted {
	font-size: 0.5em;
}

@media (min-width: 450px) {
	.choices-info {
		max-width: 700px;
		margin: 0 auto;
	}

	.cards {
		display: grid;
		/* margin: 0 auto; */
		/* max-width: 700px; */
		/* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		grid-gap: 1em;
		padding: 0 1em 0 1em;
	}

	.hero-card {
		max-width: 200px;
		height: 220px;
	}
	.card-group {
		display: flex;
		justify-content: center;
		margin: 5px;
	}
}
